---
---

@import "{{ site.theme }}";

#inputForm textarea {
  width: 100%;
}

#output {
  padding: 20px;
}

#output ruby {
  font-size: 32px;
  margin: 5px;
}

#output rt {
  font-size: 20px;
  color: #404040;
}

.btn {
  margin: 5px;
  font-size: medium;
  height: 4ex;
}

#errMsg {
  color: #C30000;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}
